.container-narrow {
  margin: 0 auto;
  max-width: 940px;
}

.navbar .nav,
.navbar .nav > li {
  float: none;
  display: inline-block;
}

.navbar-inner {
  text-align: center;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
}

.nav-tabs, .nav-pills {
    text-align:center;
}

.custom-font {
  font: 12pt verdana, Georgia, Times, serif;
}